<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Knowledge Management Conzol</title>
    
    <!-- Semantic -->
    <link rel="stylesheet" href="<%= BASE_URL %>semantic/dist/semantic.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Proza+Libre:400,400i,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit:300,300i,400,400i,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Trirong:300,400,500" rel="stylesheet">
  
  </head>
  <body>
    <noscript>
      <strong>We're sorry but deep-vertical-version1 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    
    <!-- Java Script -->
    <script src="<%= BASE_URL %>jquery/311/jquery.min.js"></script>
    <script src="<%= BASE_URL %>semantic/dist/semantic.min.js"></script>
  </body>
</html>
