<template lang="pug">

//- -------------------
    Main Site Structure
    -------------------
    * Grid > Row > Column

div
    div(class="ui grid")
        div(class="row")
            div(class="column")
                AppBar

    div(class="ui container grid")
        div(class="row")
            div(class="column")
                div(v-bind:class="uiSegmentClass" id="main")
                    slot

    div(class="ui grid")
        div(class="column" style="padding-bottom: 0px;")
            AppFooter

</template>
<script>
    // Import Components
    import appBar from './app-appBar.vue'
    import appFooter from './app-footer.vue'

    export default {
        components: {
            AppBar: appBar,
            AppFooter: appFooter,
        },
        data() {
            return {
                uiSegmentClass: {
                    ui: true,
                    loading: true,
                    segment: true,
                    very: true,
                    padded: true
                },
            }
        },
        mounted() {
            setTimeout(() => {
                this.uiSegmentClass.loading =  false
                // console.log('function FIRE!')
            },300)
        }
    }
</script>
<style>




</style>