<template lang="pug">
//- -----------------
    Application Bar
    -----------------
    1. Logo
    2. Application Name
    3. User Status
div
    div(id="applicationBar" class="ui vertical segment")

        //- tablet and computer only
        div(class="ui three column middle aligned tablet and computer only grid ")

            //- 1. Logo (2 wide)
            div(class="two wide column" style="padding-right:0;")
                img(class="ui centered image" src="assets/images/logo/sansirilogo.svg")

            //- 2. Application Name (12 wide)
            div(class="twelve wide center aligned column")
                h1(id="appName" class="ui header")
                    div(class="sub header") ระบบบริหารจัดการงานเอกสารก่อสร้าง
                    p Knowledge Management Conzol

            //- 3. User Status (2 wide)
            div(class="two wide column" style="padding-left:0;")
                div(class="ui list")
                    div(class="item" style="display: flex; justify-content: center; flex-direction: column; align-items: center;")
                        img(class="ui middle aligned mini image" src="assets/images/icon/user-01.svg")
                        div(class="content" style="text-align: center;")
                            div(name="user-email" class="header")        
                            div(class="menu")
                                a(class="item" @click="logout()")
                                    i(class="logout icon")
                                    | Logout



        //- mobile only
        div(class="ui three column middle aligned mobile only grid ")

            //- 1. Logo (3 wide)
            div(style="padding: 8px" class="three wide center aligned column")
                img( style="margin-left: 10px;" class="ui centered image" src="assets/images/logo/sansirilogo.svg")

            //- 2. Application Name (10 wide)
            div(class="ten wide center aligned column")
                h1(id="appName" class="ui header")
                    div(class="sub header") ระบบบริหารจัดการงานเอกสารก่อสร้าง
                    h2(id="mobile") Knowledge Management Conzol

            //- 3. User Status (3 wide)
            div(style="padding: 0px" class="three wide column")
                div(class="ui dropdown")
                    div(class="item" style="display: flex; justify-content: center; flex-direction: column; align-items: center;")
                        img(class="ui middle aligned mini image" src="assets/images/icon/user-01.svg")
                        div(class="content" style="text-align: center;")
                            div(name="user-email" class="header moblie")
                    div(class="menu")
                        div(class="item")
                            span(class="text") Category 1
                        div(class="item")
                            span(class="text") Category 2
                        div(class="item")
                            span(class="text") Category 3

    //- -----------------
        Navigation Bar
        ----------------
    div(id="navigationBar" class="ui basic segment")
        div(id="test")
        div(class="ui tablet and computer only grid")
            div(class="row")
                div(id="menu" class="ui ten item secondary pointing menu")
                    router-link(to="/faq" class="item") FAQ
                    router-link(to="/frontoffice" class="item") Front Office
                    router-link(to="/backoffice" class="item") Back Office


        div(class="ui mobile only grid" style="overflow: hidden")
            div(id="slide" class="ui top block vertical sidebar menu" @click="clickSlide")
                router-link(to="/faq" class="item") FAQ
                router-link(to="/frontoffice" class="item") Front Office
                router-link(to="/backoffice" class="item") Back Office
            div(class="centered row")
                div(class="ui compact secondary menu")
                    a(class="item" @click="slide()")
                        i(class="bars icon")
                        span MENU
            div(id="menubar" class="centered row")
</template>
<script>
    export default {
        data() {
            return {

            }
         },
        props: [
            'AppBarStatus',
        ],
        mounted: function(){
            // When this component "mounted"
            // * perform Menu active on each match URL (route)
            // 1. Select menu
            // 2. all <a> inside menu
            // 3. loop through all each <a>
                // 3.1 if URL match a any <a href>
                // 3.2 if Match! perform add a active class

            let menu = document.getElementById('menu')
            let eachlink = menu.children
            for (let i = 0; i < eachlink.length; i++) {
                if( this.$route.path === eachlink[i].getAttribute('href')) {
                    eachlink[i].classList.add('active')

                }// end if condition
            }// end for loop
            // eslint-disable-next-line
            $('div[name=user-email]').html(atob(sessionStorage.getItem('authorized')))
            // eslint-disable-next-line
            $('.ui.dropdown').dropdown()
        },// end mounted function
        //- show sidebar and scale
        methods :{
            slide:function(){
                // eslint-disable-next-line
                const toggle = $('#slide').attr('class');
                // eslint-disable-next-line
                $('.ui.sidebar').sidebar({
                    // eslint-disable-next-line
                    context: $('#menubar')
                })
                .sidebar('attach events', '.menu');
                if (!toggle.includes('overlay')) {
                    // eslint-disable-next-line
                    $('#menubar').css({
                        'min-height': '121px',
                        '-webkit-transition': 'min-height 150ms',
                        'transition': 'min-height 150ms'
                    });
                }
                else {
                    // eslint-disable-next-line
                    $('#menubar').css({
                        '-webkit-transition': 'min-height 300ms',
                        'transition': 'min-height 300ms',
                        'min-height': '0px'
                    });
                }
            },
            clickSlide:function(){
                // eslint-disable-next-line
                $('#menubar').css({
                    '-webkit-transition': 'min-height 300ms',
                    'transition': 'min-height 300ms',
                    'min-height': '0px'
                });
            },
            logout: function () {
                sessionStorage.removeItem('authorized')
                window.location.reload()
            }
        }
    }
</script>
<style scoped>
    #appName p {
        font-family: 'Lora', serif;
        font-size: 1.25em;
        font-style: normal;
        color: inherit;
    }
    #appName #mobile {
        font-weight: normal;
        font-family: 'Lora', serif;
        color: inherit;
        text-align: center;
    }
    #applicationBar {
        background-color: white;
    }
    #navigationBar {
        margin-top: 0px;
    }
    #navigationBar.segment .grid .row {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #menubar {
        min-height: 0;
        -webkit-transition: min-height 150ms;
        transition: min-height 150ms;
        overflow: hidden !important;
    }
    #slide {
        overflow: hidden !important;
        background:rgba(0, 0, 0, 0.01);
    }
    .header.moblie {
        font-size: 0.55em;
    }
    /* Increase Spacing of application bar */
    .ui.header {
        padding: 10px;
        font-weight: 300;
    }
    .ui.header .sub.header {
        font-size: 0.9rem;
    }
    /* Decrease thickness line of menu */
    .ui.secondary.pointing.menu {
        border-bottom: 1px solid rgba(34,36,38,.15);
        margin-top: -1%;
        background-color: white;
    }
    .header.moblie{
        width: 70px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media only screen and (max-width: 500px) {
            .header.moblie{
            width: 50px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .computer.grid .content .header{
        max-width: 116px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media only screen and (max-width: 824px) {
        .computer.grid .content .header {
            width: 75px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
</style>
