<template lang="pug">
  
  //- Call <router-view> 
    - When request via URL, Vue respone a commit component
  router-view

</template>
<script>
  export default {
    
  }
</script>
<style>
  
  /* 
  ----------------------------------------------------------------
  Global Seting
  ----------------------------------------------------------------
  Body
  -------------------------------------------
  */ 
  body {
        background-color: #FAFAFA;
        -webkit-font-smoothing: antialiased;
    }
  /* 
  Header
  -------------------------------------------
  */ 
  h1.ui.header {
    font-size: 2.5em;
  }
  /* assign a new font to all sub header */ 
  .ui.header {
    font-family: 'Lora', serif;
    font-weight: 300;
  }
  .ui.header .sub.header {
    font-family: 'Proza Libre', sans-serif;
  }
  /* 
  List
  -------------------------------------------
  */ 
  .ui.list > .item .description {
    font-family: 'Lora', serif;
  }



  /* 
  Paragraph
  -------------------------------------------
  */ 
  p {
    font-family: 'Proza Libre', sans-serif;
    color: rgba(0,0,0,.6);
    font-size: 16px;
  }
  span {
    font-family: 'Lora', serif;
    font-style: italic;
    color: rgba(0,0,0,.6);
    font-size: 14px;
  }

  /* 
  Form
  -------------------------------------------
  */ 
  label {
    font-family: 'Lora', serif;
  }

  /* 
  button
  -------------------------------------------
  */ 
  .ui.button {
    font-family: 'Proza Libre', sans-serif;
  }


</style>
