<template lang="pug">
div
    //- Navigation
    div(class="ui equal width padded divided grid")
        div(class="row")
            div(class="column")
                div(class="ui basic center aligned segment")
                    i(v-bind:class="semanticClass.f1" v-on:click="semanticClassSwitch('f1')")
                    h3(class="ui centered header") Function No.1
                        div(class="sub header") Short description of function No.1
            
            div(class="column")
                div(class="ui basic center aligned segment")
                        i(v-bind:class="semanticClass.f2" v-on:click="semanticClassSwitch('f2')")
                        h3(class="ui centered header") Function No.2
                            div(class="sub header") Short description of function No.2
            
            div(class="column")
                div(class="ui basic center aligned segment")
                        i(v-bind:class="semanticClass.f3" v-on:click="semanticClassSwitch('f3')")
                        h3(class="ui centered header") Function No.3
                            div(class="sub header") Short description of function No.3                
    
    
    //- Content
    div(Class="ui divider")
    div(class="ui one column grid")
        div(class="center aligned column" v-show="defaultContent.isShow")
            h3(class="ui header") Please select a function
                div(class="sub header") This function will show just single content 

        div(class="center aligned column" v-show="semanticClass.f1.on") 
            h1(class="ui header") 1 
            h3(class="ui header") Content 
                div(class="sub header") Result from function No.1
                
        div(class="center aligned column" v-show="semanticClass.f2.on")
            h1(class="ui header") 2 
            h3(class="ui header") Content 
                div(class="sub header") Result from function No.2

        div(class="center aligned column" v-show="semanticClass.f3.on")
            h1(class="ui header") 3 
            h3(class="ui header") Content 
                div(class="sub header") Result from function No.3                     

    
</template>
<script>
    export default {
        data() {
            return {
                defaultContent: {
                    isShow: true,
                },
                semanticClass: {
                    f1: {
                        toggle: true,
                        on: false,
                        off: true,
                        large: true,
                        icon: true,                        
                    },
                    f2: {
                        toggle: true,
                        on: false,
                        off: true,
                        large: true,
                        icon: true,                        
                    },
                    f3: {
                        toggle: true,
                        on: false,
                        off: true,
                        large: true,
                        icon: true,                        
                    },
                }, // end semantic Class
            } // End Return
        }, // End Data
        methods: {
            semanticClassSwitch: function( value ){
                
                // 0. Everytime any button is Click!
                // 1. Loop all semanticClass 
                // 2. turn OFF all "on"
                // 3. Check! - equality - if match - turn on
                    // 3.1 Check! - inequality - if match - toggle

                for ( let eachClass in this.semanticClass ) {
                    this.semanticClass[ eachClass ].on = false
                    this.semanticClass[ eachClass ].off = false
                    
                    if ( value === eachClass ) {
                        this.semanticClass[ eachClass ].on = true
                    } // end if
                    if ( value !== eachClass ) {
                        this.semanticClass[ eachClass ].off = !this.semanticClass[ eachClass ].off
                    } // end if

                this.defaultContent.isShow = false  

                } // end for loop
            },// end semanticClassSwitch
        }, // End Methods

    } // End export default
</script>
<style scoped>

    .ui.header {
        margin-top: 2%;
    }
    h1.ui.header::after {
        content: "";
        display: block;
        width: 30px;
        height: 1px;
        background: #111;
        margin: 5px auto 0;

    }

</style>
