<template lang="pug">
    div
        div(id="login-loader" class="ui dimmer")
            div(class="ui loader")
        div(class="ui inverted attached center aligned segment" id="topinfobar")
            slot
            span ระบบบริหารจัดการงานเอกสารการก่อสร้าง
        div(id="applicationBar" class="ui vertical segment")
            div(class="ui three column middle aligned grid" style="background-color: white;")
                //- 1. Logo (3 - 3 - 2 wide)
                div(class="three wide mobile three wide tablet two wide computer column")
                    img(class="ui centered image" src="assets/images/logo/conzollogo.png")
                //- 2. Application Name (10 - 10 - 12 wide)
                div(class="ten wide mobile ten wide tablet twelve wide computer center aligned column")
                    h1(id="appName" class="ui header")
                        div(class="sub header")
                        span Knowledge Management Conzol
                //- 3. User Status (3 - 3 - 2 wide)
                div(class="three wide mobile three wide tablet two wide computer column")
                    img(class="ui centered image" src="")
        div(class="ui grid")
            div(class="row")
                div(class="sixteen wide column")
            div(class="ui card" style="margin: auto; margin-top: 3%;" id="card" )
                div(class="header" style="margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 10px; display:block;  ")
                    img(src="assets/images/logo/sansirilogo.svg" id="logins" class="logo")
                div(class="content" id="login")
                    div(class="center aligned header" style="margin-bottom:10px;" id="logins") Sign in
                    div(class="ui form")
                        div(class="field")
                            div(class="ui left icon input")
                                input(type="text" name="username" v-model="input.username" placeholder="Username")
                                i(class="user icon")
                        div(class="field")
                            div(class="ui left icon input")
                                input(type="password" name="password" v-model="input.password" placeholder="Password" @keyup.enter="ldapLogin()")
                                i(class="lock icon")
                        div(class="field")
                        div(class="ui submit button" id="button" style="width: 100%; color: white;" @click="ldapLogin()") SIGN IN
                div(class="extra content")
                    p(style="color: red; font-size: .85em;") * ใช้ Username และ Password เดียวกันกับ การเข้า Siri Intranet
                    p(style="color: red; font-size: .85em;") * ผู้ใช้งานจะต้องได้รับการอนุมัติการใช้สิทธิการเข้าระบบ Conzol ก่อนจึงสามารถเข้าใช้งานนี้ได้
</template>

<script>
    export default {
        data () {
            return {
                login: [],
                input: {
                    username: '',
                    password: ''
                }
            };
        },
        mounted:function(){
            // eslint-disable-next-line
            $('.ui.accordion').accordion();
        },
        methods:{
            faqdropdown:function(){
                // eslint-disable-next-line
                $('.ui.accordion').accordion();
            },
            ldapLogin: function () {
                document.getElementById('login-loader').classList.add('active')
                const userLogin = {
                    Username: document.getElementsByName('username')[0].value,
                    Password: document.getElementsByName('password')[0].value
                }
                const request = {
                    "url": "http://siriwebapi.sansiri.com/web_api/api/Login/GetLogin",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "data": JSON.stringify(userLogin)
                }
                // eslint-disable-next-line
                $.ajax(request).done(response => {
                    // eslint-disable-next-line
                    if (response.ResponseMsg === 'Success') {
                        sessionStorage.setItem('authorized', btoa(userLogin.Username))
                        window.location = '/faq'
                    } else {
                        document.getElementById('login-loader').classList.remove('active')
                        window.alert('การเข้าสู่ระบบล้มเหลว\nError: ' + response.ResponseMsg)
                    }
                }).fail(() => {
                    document.getElementById('login-loader').classList.remove('active')
                    // eslint-disable-next-line
                    window.alert('เกิดข้อผิดพลาดในการเข้าสู่ระบบ กรุณาลองอีกครั้ง')
                });
            }
        },
        components: {}
    }
</script>
<style scoped>
    .ui.header .sub.header {
        font-family: 'Lora', serif;
        font-weight: 400;
        font-style: italic;
    }
    /* Thai Language*/
    h2.thai.ui.header {
        font-family: 'Trirong', sans-serif;
    }
    h2.thai.ui.header .sub.header {
        font-family: 'Trirong', sans-serif;
        font-style: normal;
    }
    h3.ui.header {
        margin: 2% 0 0 0
    }
    #button {
        background-color: #1A3864;
    }
    #topinfobar {
        background-color: #1A3864;
        padding: .5%;
    }
    #topinfobar span {
        font-family: 'Lora', serif;
        font-style: italic;
        color:white;
        padding: 0
    }
</style>
