<template lang="pug">
    div(class="container")
        div(class="row")
            div(class="inline")
                div(class="ui styled accordion" style="width:100% ;")
                    div(class="title ")
                        //-หัวข้อที่ 1------------------------------------------------------------------------------------------------------------
                        i(class="dropdown icon")
                        p คำถามทั่วไป
                    div(class="content ")
                        div(class="accordion transition visible" style="display: block !important;")
                            //- หัวข้อที่ 1 คำถามที่ 1
                            div(class=" title")
                                i(class="dropdown icon")
                                p(style="font-style: Bold; font-size: 18px") กรอก Password ไปแล้ว หรือ ลืม Password ในการเข้าระบบ ต้องทำอย่างไร ?
                            //- หัวข้อที่ 1 คำตอบที่ 1
                            div(class="content")
                                p 1. ให้คลิกคำว่า Forget Password Click ดังรูปด้านล่าง
                                p - Back Office 
                                img(src="assets/images/faq/general/mainforgotback.png" style="max-width:100%; height: auto;")
                                br 
                                br
                                p - Front Office
                                img(src="assets/images/faq/general/mainforgotfront.png" style="max-width:100%; height: auto;")
                                br
                                br
                                p 2. กรอกอีเมล์ที่ท่านได้แจ้งลงทะเบียนไว้กับ Conzol ให้ถูกต้องตามรูป จากนั้นให้คลิกที่ Submit (หากกรอกอีเมล์ถูกต้องตามที่ได้เคยแจ้งไว้ จะมีอีเมล์แจ้งไปให้กรอก Password ใหม่)
                                img(src="assets/images/faq/general/typeemail.png" style="max-width:100%; height: auto;")   
                                br
                                br
                                p 3. เมื่อกรอกเสร็จเรียบร้อยแล้ว จะขึ้นหน้าจอดังรูป ให้ผู้ใช้งานเข้าไปเช็ค e-mail ของท่านเพื่อทำการเปลี่ยน Password ใหม่ ภายใน 24 ชั่วโมง ถ้าเกินหลังจาก 24 ชั่วโมงไปแล้ว ให้ท่านทำการ Click Forget Password ใหม่อีกรอบ
                                img(src="assets/images/faq/general/typefinished.png" style="max-width:100%; height: auto;")         
                                br
                                br
                                p 4. เมื่อท่านเข้าเช็คอีเมล์จะได้รับอีเมล์จาก Conzol Admin ในอีเมล์จะแจ้งชื่อ Login และให้คลิกที่ Link ตามรูป
                                img(src="assets/images/faq/general/receiveemail.png" style="max-width:100%; height: auto;")      
                                br
                                br
                                p 5. หลังจากนั้นให้กรอก Password ใหม่ และกรอก password (re-entry) อีกครั้ง โดยที่ทั้ง 2 ช่องจะต้องเป็น Password เหมือนกัน (Password ต้องมีตัวอักษรและตัวเลขอย่างน้อย 8 ตัว) เมื่อกรอกเสร็จเรียบร้อยแล้วให้ Click ที่ Confirm
                                img(src="assets/images/faq/general/typenewpassword.png" style="max-width:100%; height: auto;") 
                                br 
                                br
                                p 6. เมื่อ Click ที่ Confirm เรียบร้อยแล้ว จะขึ้นหน้าจอดังรูป ให้ท่านทำการเข้าหน้า Login ใหม่อีกครั้ง เพื่อกรอก Username และ Password ใหม่
                                img(src="assets/images/faq/general/passwordchange.png" style="max-width:100%; height: auto;") 
                                br
                                




                        //- หัวข้อที่ 1 คำถามที่ 2
                //-     div(class="accordion transition visible" style="display: block !important;")
                            div(class="title")
                                i(class="dropdown icon")
                                p(style="font-style: Bold; font-size: 18px") ถ้าลองเช็คสิทธิการใช้งานแล้วว่าสามารถใช้งานได้ในส่วนของ Back office หรือ Front Office แล้ว แต่ก็ยังเข้าระบบไม่ได้อีก?
                            //- หัวข้อที่ 1 คำตอบที่ 2
                            div(class="content") - ให้ท่าน






</template>
<script>
    export default {

        mounted: function(){
            // eslint-disable-next-line
            $('.ui.accordion').accordion({
                exclusive: false,
            })
        },// end mounted


    } // end export default
</script>
<style scoped>

    .ui.accordion .title {
        font-family: 'Lora', serif;
        font-size: 1.25rem;
    }
    .ui.accordion span {
        font-style: normal;
        color: rgba(0, 0, 0, 1);
        font-size: 1.1rem;
    }

</style>