<template lang="pug">

        div(class="container")
            div(class="row")
                div(class="inline")

                    div(class="ui styled accordion")
                        div(class="content ")

                            div(class="accordion transition visible" style="display: block !important;")
                                div(class=" title")
                                    i(class="dropdown icon")
                                    p คู่มือการใช้งาน Front office สำหรับระบบ Conzol
                                div(class="content")
                                   embed(src="assets/images/file/Conzol Usermanual FrontOffice_Ver1.02_20_08_2018.pdf" type="application/pdf" width="100%" height="600px")



</template>

<script>
    export default {

        mounted: function(){
            // eslint-disable-next-line
            $('.ui.accordion').accordion({
                exclusive: false,
            })
        },// end mounted
    } // end export default


</script>
<style scoped>

    .ui.header .sub.header {
        font-family: 'Lora', serif;
        font-weight: 400;
        font-style: italic;
    }

    /* Thai Language*/
    h2.thai.ui.header {
        font-family: 'Trirong', sans-serif;
    }
    h2.thai.ui.header .sub.header {
        font-family: 'Trirong', sans-serif;
        font-style: normal;
    }

    h3.ui.header {
        margin: 2% 0 0 0
    }

    .ui.styled.accordion {
        width: 100%;
    }

    .ui.styled.accordion .active.title {
        display: flex;
        color:black;
    }

    .title {
        display: flex;
    }


    video {
    width: 100%;
    height: auto;

    }


</style>