

<template lang="pug">
    div(class="container")
        div(class="row")
            div(class="inline")
                div(class="ui styled accordion" style="width:100% ;")
                    div(class="title ")
                        //-หัวข้อที่ 1------------------------------------------------------------------------------------------------------------
                        i(class="dropdown icon")
                        p Template Config for CM
                    div(class="content ")
                        div(class="accordion transition visible" style="display: block !important;")
                            //- หัวข้อที่ 1 คำถามที่ 1
                            div(class=" title")
                                i(class="dropdown icon")
                                p(style="font-style: Bold; font-size: 18px") Download Template
                            //- หัวข้อที่ 1 คำตอบที่ 1
                            div(class="content")
                                a(href="assets/images/Download/Conzol-Contact List template.xlsx") 1. Conzol Contact List Template
                                br
                                br
                                a(href="assets/images/Download/Conzol-Import format.xlsx") 2. Conzol Import Format



</template>

<script>
    export default {

        mounted: function(){
            // eslint-disable-next-line
            $('.ui.accordion').accordion({
                exclusive: false,
            })
        },// end mounted
    } // end export default


</script>
<style scoped>

    .ui.header .sub.header {
        font-family: 'Lora', serif;
        font-weight: 400;
        font-style: italic;
    }

    /* Thai Language*/
    h2.thai.ui.header {
        font-family: 'Trirong', sans-serif;
    }
    h2.thai.ui.header .sub.header {
        font-family: 'Trirong', sans-serif;
        font-style: normal;
    }

    h3.ui.header {
        margin: 2% 0 0 0
    }

    .ui.styled.accordion {
        width: 100%;
    }

    .ui.styled.accordion .active.title {
        display: flex;
        color:black;
    }

    .title {
        display: flex;
    }


    video {
    width: 100%;
    height: auto;

    }


</style>