<template lang="pug">
    div(class="ui stackable grid")
        div(class="row")
            
            div(class="four wide column")
                div(class="ui padded basic segment")
                    h4(class="ui header") Form
                    span description form
            
            div(class="twelve wide column")
                div(class="ui padded basic segment")
                    form(class="ui form")
                        div(class="three fields")
                            
                            div(class="field")
                                label First Name
                                input(type="text" placeholder="First Name") 
                            div(class="field")
                                label Middle Name
                                input(type="text" placeholder="Middle Name") 
                            div(class="field")
                                label Last Name
                                input(type="text" placeholder="Last Name")

                        div(class="field")
                            label text
                            textarea

                        div(class="field")  
                            div(class="ui checkbox")
                                input(type="checkbox")
                                label I agree to terms and condition 
                        
                        div(class="ui basic center aligned segment")
                            button(class="ui button") SUBMIT
                            button(class="ui basic button") CLEAR

                        


    
</template>
<script>
    export default {
        
    }
</script>
<style scroped>

</style>