<template lang="pug">
    div(class="container")
        div(class="row")
            div(class="inline")
                div(class="ui styled accordion" style="width:100% ;")
                    div(class="title ")
                        //-หัวข้อที่ 2.3------------------------------------------------------------------------------------------------------------
                        i(class="dropdown icon")
                        p 2.3 TRANSMITTAL
                    div(class="content ")
                        div(class="accordion transition visible" style="display: block !important;")
                                //- 2.3 TRANSMITTAL คำถามที่ 1
                                div(class="title")
                                    i(class="dropdown icon")
                                    p(style="font-style: Bold; font-size: 18px") มีวิธีดู TRANSMITTAL LOG หรือไม่
                                //- 2.3 TRANSMITTAL คำตอบที่ 1
                                div(class="content")
                                    p  สามารถทำได้ตามขั้นตอนดังรูป (สามารถดูรายละเอียดเพิ่มเติ่มได้ใน Usermanual Front Office ได้ในหน้าที่ .. ) 
                                    p - เลือกเมนู Transmittal จากนั้นเลือก Project โครงการที่ต้องการ
                                    p - เลือก Type ชนิดของใบนำส่งเอกสาร
                                    p - เลือก TR Transmittal เอกสาร
                                    p - เลือก DISCIPLINE หรือกลุ่มเอกสาร
                                    p - คลิก Searh เพื่อค้นหาข้อมูล
                                    img(src="assets/images/faq/front_office/2.3_Transmittal/2.3_Q1.png" style="max-width:100%; height: auto;")

                        div(class="accordion transition visible" style="display: block !important;")
                                //- 2.3 TRANSMITTAL คำถามที่ 2
                                div(class="title")
                                    i(class="dropdown icon")
                                    p(style="font-style: Bold; font-size: 18px") มีวิธีดูรายละเอียดของ Transmittal หรือ TRANSMITTAL VIEW หรือไม่
                                //- 2.3 TRANSMITTAL คำตอบที่ 2
                                div(class="content")
                                    p  สามารถทำได้ตามขั้นตอนดังรูป (สามารถดูรายละเอียดเพิ่มเติ่มได้ใน Usermanual Front Office ได้ในหน้าที่ .. ) 
                                    p - เลือกเมนู Transmittal จากนั้นเลือก Project โครงการที่ต้องการ
                                    p - ดูรายละเอียดของ Transmittal
                                    p - ติ๊กเครื่องหมายถูก &#8730;  เพื่อเลือกหรือคลิก PDF เพื่อดูไฟล์
                                    p - ถ้าต้องการ Download ไฟล์ให้ คลิกที่ Download ไฟล์ จะได้ไฟล์เป็น PDF
                                    img(src="assets/images/faq/front_office/2.3_Transmittal/2.3_Q2.png" style="max-width:100%; height: auto;")            


               

                       

                        



</template>
<script>
    export default {

        mounted: function(){
            // eslint-disable-next-line
            $('.ui.accordion').accordion({
                exclusive: false,
            })
        },// end mounted


    } // end export default
</script>
<style scoped>

    .ui.accordion .title {
        font-family: 'Lora', serif;
        font-size: 1.25rem;
    }
    .ui.accordion span {
        font-style: normal;
        color: rgba(0, 0, 0, 1);
        font-size: 1.1rem;
    }

</style>