<template lang="pug">
    
     appTemplate
        div(class="ui center aligned padded basic secondary segment")
            h2(class="ui center aligned header") Back Office
                div(class="ui basic centerd segment") 
                    p วีดีโอสอนและคู่มือการใช้งานสำหรับระบบ Conzol ในส่วนของ Back Office
                        br
                      

      
        
        tripleBackManual

        div(Class="ui divider") 
        div(class="ui center aligned padded basic secondary segment ")
            h2(class="ui header") Download Template Config for CM  
            
        tripleBackTemplateConfigDownload

        div(Class="ui divider") 
        div(class="ui center aligned padded basic secondary segment ")
            h2(class="ui header") วีดีโอสอนการใช้งาน 

        
            
             
            
                 
        div(Class="ui divider")        
        tripleBackVdoOne
        div(Class="ui divider")
        tripleBackVdoTwo
        div(Class="ui divider")
        tripleBackVdoThree
        div(Class="ui divider")
        tripleBackVdoFour
        div(Class="ui divider")
        tripleBackVdoFive
        div(Class="ui divider")
        tripleBackVdoSix
        div(Class="ui divider")
        tripleBackVdoSeven
        div(Class="ui divider")
        tripleBackVdoEight
        div(Class="ui divider")
        tripleBackVdoNine
        div(Class="ui divider")
        tripleBackVdoTen
        
        
        


</template>
<script>
    
    // Main template (Root,parent)
    import appTemplate from '../template/app-mainTemplate.vue'
    // Child components
    import tripleBackManual from './content_triple_BackManual.vue'
    import tripleBackTemplateConfigDownload from './content_triple_BackTemplateConfigDownload.vue'
    import tripleBackVdoOne from './content_triple_BackVdoOne.vue'
    import tripleBackVdoTwo from './content_triple_BackVdoTwo.vue'
    import tripleBackVdoThree from './content_triple_BackVdoThree.vue'
    import tripleBackVdoFour from './content_triple_BackVdoFour.vue'
    import tripleBackVdoFive from './content_triple_BackVdoFive.vue'
    import tripleBackVdoSix from './content_triple_BackVdoSix.vue'
    import tripleBackVdoSeven from './content_triple_BackVdoSeven.vue'
    import tripleBackVdoEight from './content_triple_BackVdoEight.vue'
    import tripleBackVdoNine from './content_triple_BackVdoNine.vue'
    import tripleBackVdoTen from './content_triple_BackVdoTen.vue'


    export default {
        components: {
            appTemplate,
            tripleBackManual,
            tripleBackTemplateConfigDownload,
            tripleBackVdoOne,
            tripleBackVdoTwo,
            tripleBackVdoThree,
            tripleBackVdoFour,
            tripleBackVdoFive,
            tripleBackVdoSix,
            tripleBackVdoSeven,
            tripleBackVdoEight,
            tripleBackVdoNine,
            tripleBackVdoTen,
            
            
        }
        
    }
</script>
<style scoped>

</style>