<template lang="pug">

    div(class="container")
        div(class="row")
            div(class="inline")
                div(class="ui styled accordion" style="width:100% ;")
                    div(class="title ")
                        //-หัวข้อที่ 3.2------------------------------------------------------------------------------------------------------------
                        i(class="dropdown icon")
                        p 3.2 MAIN DATABASE
                    div(class="content ")
                        div(class="accordion transition visible" style="display: block !important;")
                                //- หัวข้อที่ 3.2 คำถามที่ 1
                                div(class="title")
                                    i(class="dropdown icon")
                                    p(style="font-style: Bold; font-size: 18px") หากต้องการแก้ไขการตั้งค่าการส่งอีเมล์ และการกำหนดผู้ที่ต้อง Comment เอกสารแต่ละประเภท ทำอย่างไร
                                //- หัวข้อที่ 3.2 คำตอบที่ 1
                                div(class="content")
                                    p -

                        div(class="accordion transition visible" style="display: block !important;")
                                //- หัวข้อที่ 3.2 คำถามที่ 2
                                div(class="title")
                                    i(class="dropdown icon")
                                    p(style="font-style: Bold; font-size: 18px") เอารายชื่อผู้ไม่เกี่ยวข้องออกจากหน้า Transmittal ไม่ได้
                                //- หัวข้อที่ 3.2 คำตอบที่ 2
                                div(class="content")
                                    p -

                        div(class="accordion transition visible" style="display: block !important;")
                                //- หัวข้อที่ 3.2 คำถามที่ 3
                                div(class="title")
                                    i(class="dropdown icon")
                                    p(style="font-style: Bold; font-size: 18px") วิธีย้ายกลุ่มเอกสารทีละเยอะๆ
                                //- หัวข้อที่ 3.2 คำตอบที่ 3
                                div(class="content")
                                    p -


</template>
<script>
    export default {

        mounted: function(){
            // eslint-disable-next-line
            $('.ui.accordion').accordion({
                exclusive: false,
            })
        },// end mounted


    } // end export default
</script>
<style scoped>

    .ui.accordion .title {
        font-family: 'Lora', serif;
        font-size: 1.25rem;
    }
    .ui.accordion span {
        font-style: normal;
        color: rgba(0, 0, 0, 1);
        font-size: 1.1rem;
    }

</style>