<template lang="pug">

    div(class="container")
        div(class="row")
            div(class="inline")
                div(class="ui styled accordion" style="width:100% ;")
                    div(class="title ")
                        //-หัวข้อที่ 3.3------------------------------------------------------------------------------------------------------------
                        i(class="dropdown icon")
                        p 3.3 TRANSMITTAL
                    div(class="content ")
                        div(class="accordion transition visible" style="display: block !important;")
                                //- หัวข้อที่ 3.3 คำถามที่ 1
                                div(class="title")
                                    i(class="dropdown icon")
                                    p(style="font-style: Bold; font-size: 18px") ส่งเอกสารเลือก Transmittal ผิด Type
                                //- หัวข้อที่ 3.3 คำตอบที่ 1
                                div(class="content")
                                    p -

                        div(class="accordion transition visible" style="display: block !important;")
                                //- หัวข้อที่ 3.3 คำถามที่ 2
                                div(class="title")
                                    i(class="dropdown icon")
                                    p(style="font-style: Bold; font-size: 18px") ทำ Transmittal ข้ามหมายเลขจะย้อนกลับมาทำ Transmittal หมายเลขก่อนหน้าทำยังไง
                                //- หัวข้อที่ 3.3 คำตอบที่ 2
                                div(class="content")
                                    p -

                        div(class="accordion transition visible" style="display: block !important;")
                                //- หัวข้อที่ 3.3 คำถามที่ 3
                                div(class="title")
                                    i(class="dropdown icon")
                                    p(style="font-style: Bold; font-size: 18px") วิธีย้าย transmittal
                                //- หัวข้อที่ 3.3 คำตอบที่ 3
                                div(class="content")
                                    p -

                        div(class="accordion transition visible" style="display: block !important;")
                                //- หัวข้อที่ 3.3 คำถามที่ 4
                                div(class="title")
                                    i(class="dropdown icon")
                                    p(style="font-style: Bold; font-size: 18px") หากต้องการแก้ไข Comments ในเอกสารที่ส่งกลับคืนให้ Contractor แล้วทำอย่างไร
                                //- หัวข้อที่ 3.3 คำตอบที่ 4
                                div(class="content")
                                    p -


</template>
<script>
    export default {

        mounted: function(){
            // eslint-disable-next-line
            $('.ui.accordion').accordion({
                exclusive: false,
            })
        },// end mounted


    } // end export default
</script>
<style scoped>

    .ui.accordion .title {
        font-family: 'Lora', serif;
        font-size: 1.25rem;
    }
    .ui.accordion span {
        font-style: normal;
        color: rgba(0, 0, 0, 1);
        font-size: 1.1rem;
    }

</style>