<template lang="pug">
    
     appTemplate
        div(class="ui center aligned padded basic secondary segment")
            h2(class="ui center aligned header") Front Office
                div(class="ui basic centerd segment") 
                    p วีดีโอสอนและคู่มือการใช้งานสำหรับระบบ Conzol ในส่วนของ Front Office
                        br
                      

      
        
        doubleFrontManual
       
        div(Class="ui divider") 
        div(class="ui center aligned padded basic segment ")
            h2(class="ui header") วีดีโอสอนการใช้งาน
            
                 
        div(Class="ui divider")        
        doubleFrontVdoOne
        div(Class="ui divider")
        doubleFrontVdoTwo
        div(Class="ui divider")
        doubleFrontVdoThree
        div(Class="ui divider")
        doubleFrontVdoFour
        div(Class="ui divider")
        doubleFrontVdoFive
        div(Class="ui divider")
        doubleFrontVdoSix
        
        
        


</template>
<script>
    
    // Main template (Root,parent)
    import appTemplate from '../template/app-mainTemplate.vue'
    // Child components
    
    import doubleFrontManual from './content_double_frontManual.vue'
    import doubleFrontVdoOne from './content_double_frontVdoOne.vue'
    import doubleFrontVdoTwo from './content_double_frontVdoTwo.vue'
    import doubleFrontVdoThree from './content_double_frontVdoThree.vue'
    import doubleFrontVdoFour from './content_double_frontVdoFour.vue'
    import doubleFrontVdoFive from './content_double_frontVdoFive.vue'
    import doubleFrontVdoSix from './content_double_frontVdoSix.vue'

    export default {
        components: {
            appTemplate,
            
            doubleFrontManual,
            doubleFrontVdoOne,
            doubleFrontVdoTwo,
            doubleFrontVdoThree,
            doubleFrontVdoFour,
            doubleFrontVdoFive,
            doubleFrontVdoSix,
            
        }
        
    }
</script>
<style scoped>

</style>