<template lang="pug">
        div(class="ui basic segment")
            div(class="ui computer Padded tablet only grid" style="margin-top: 15px; margin-bottom: 15px;")
                div(class="row")
                    div(class="column")
                        div(class="ui fluid action large left icon input")
                            input(type="text" placeholder="Search..." name="keywords" @keyup.enter="search()")
                            i(class="search icon")
                            div(class="ui black button" @click="search()") SEARCH
                            div(class="ui grey button" @click="cancelSearch()") CANCEL
            div(class="ui mobile only grid" style="margin-top: 0px;")
                div(class="row" style="margin-top: 0px; padding-top: 0px;")
                    div(class="column")
                        div(class="ui fluid action small left icon input")
                            input(type="text" placeholder="Search..." name="m-keywords" @keyup.enter="search()")
                            i(class="search icon")
                            div(class="ui mini compact black button" @click="search()") SEARCH
                            div(class="ui mini compact grey button" @click="cancelSearch()") X
</template>
<script>
    export default {
        methods: {
            search: () => {
                // console.clear()
                const keywordInput = document.getElementsByName('keywords')[0].value
                const mKeywordInput = document.getElementsByName('m-keywords')[0].value
                const keyword = keywordInput ? keywordInput : mKeywordInput
                const result = document.getElementById('result')
                const titles = result.querySelectorAll('div.title')

                if (keyword) {
                    const exceptTitles = []
                    const exceptParents = []
                    // Show all ต้องแก้อีกหน่อย ให้มันปิดทั้งหมด
                    for (const title of titles) {
                        title.setAttribute('style', 'display: block !important; width: 100%;')
                        title.parentElement.parentElement.parentElement.parentElement.setAttribute('style', 'display: block !important; width: 100%;')
                        title.parentElement.setAttribute('style', 'display: block !important; width: 100%;')
                        title.parentElement.parentElement.classList.remove('active')
                        title.parentElement.classList.remove('active')
                        title.classList.remove('active')
                    }
                    // Open element
                    for (const title of titles) {
                        title.setAttribute('style', 'display: block !important; width: 100%;')
                        title.parentElement.parentElement.parentElement.parentElement.setAttribute('style', 'display: block !important; width: 100%;')
                        title.parentElement.setAttribute('style', 'display: block !important; width: 100%;')

                        const titleName = title.innerText.toLowerCase().trim()
                        const parentAttr = title.parentElement.classList
                        if (!parentAttr.toString().includes('styled') && titleName.includes(keyword.toLowerCase())) {
                            exceptTitles.push(titleName)
                            exceptParents.push(title.attributes[0].name)
                            title.parentElement.parentElement.classList.add('active')
                            title.parentElement.classList.add('active')
                        } else {
                            title.classList.add('active')
                        }
                    }
                    // Hide elements
                    for (const title of titles) {
                        if (!exceptParents.toString().includes(title.attributes[0].name)) {
                            title.setAttribute('style', 'display: none !important;')
                            title.parentElement.parentElement.parentElement.parentElement.setAttribute('style', 'display: none !important;')
                        }

                        const titleName = title.innerText.toLowerCase().trim()
                        if (!exceptTitles.toString().includes(titleName)) {
                            const parentAttr = title.parentElement.classList
                            if (!parentAttr.toString().includes('styled')) {
                                title.setAttribute('style', 'display: none !important;')
                                title.parentElement.setAttribute('style', 'display: none !important;')
                            }
                        }
                    }
                    if (exceptParents.length === 0) {
                        window.alert('ไม่พบข้อมูล!')
                        for (const title of titles) {
                            title.setAttribute('style', 'display: block !important; width: 100%;')
                            title.parentElement.parentElement.parentElement.parentElement.setAttribute('style', 'display: block !important; width: 100%;')
                            title.parentElement.setAttribute('style', 'display: block !important; width: 100%;')
                            title.parentElement.parentElement.classList.remove('active')
                            title.parentElement.classList.remove('active')
                            title.classList.remove('active')
                        }
                    }
                } else {
                    // Show all
                    for (const title of titles) {
                        title.setAttribute('style', 'display: block !important; width: 100%;')
                        title.parentElement.parentElement.parentElement.parentElement.setAttribute('style', 'display: block !important; width: 100%;')
                        title.parentElement.setAttribute('style', 'display: block !important; width: 100%;')
                        title.parentElement.parentElement.classList.remove('active')
                        title.parentElement.classList.remove('active')
                        title.classList.remove('active')
                    }
                }
            },
            cancelSearch: () => {
                document.getElementsByName('keywords')[0].value = ''
                document.getElementsByName('m-keywords')[0].value = ''
                const result = document.getElementById('result')
                const titles = result.querySelectorAll('div.title')
                for (const title of titles) {
                    title.setAttribute('style', 'display: block !important; width: 100%;')
                    title.parentElement.parentElement.parentElement.parentElement.setAttribute('style', 'display: block !important; width: 100%;')
                    title.parentElement.setAttribute('style', 'display: block !important; width: 100%;')
                    title.parentElement.parentElement.classList.remove('active')
                    title.parentElement.classList.remove('active')
                    title.classList.remove('active')
                }
            }
        },
    }
</script>
<style></style>
