<template lang="pug">
    appTemplate
        div(class="ui center aligned padded basic secondary segment")
            h2(class="ui center aligned header") Question & Anwser
                div(class="ui basic centerd segment")
                    p This is description area about this application
                        br
                        | ( FAQ Content Page )
        div(Class="ui divider")
        singleSearch

        div(id="result" style="display: block; margin: 0; padding: 0;")
            div(Class="ui divider")
            h3 1. General
            singleFaqGeneral

            H3 2. Front Office
            singleFaqFrontHome
            singleFaqFrontDocument
            singleFaqFrontTransmittal
            singleFaqFrontReport

            H3 3. Back Office
            singleFaqBackHome
            singleFaqBackMaindatabase
            singleFaqBackTransmittal
            singleFaqBackSystemreference
</template>
<script>
    // Main template (Root,parent)
    import appTemplate from '../template/app-mainTemplate.vue'

    // Child component
    import singleSearch from './content_single_search.vue'
    import singleFaqGeneral from './content_single_faq_general.vue'
    import singleFaqFrontHome from './content_single_faq_fronthome.vue'
    import singleFaqFrontDocument from './content_single_faq_frontdocument.vue'
    import singleFaqFrontTransmittal from './content_single_faq_fronttransmittal.vue'
    import singleFaqFrontReport from './content_single_faq_frontreport.vue'
    import singleFaqBackHome from './content_single_faq_backhome.vue'
    import singleFaqBackMaindatabase from './content_single_faq_backmaindatabase.vue'
    import singleFaqBackTransmittal from './content_single_faq_backmaintransmittal.vue'
    import singleFaqBackSystemreference from './content_single_faq_backsystemreference.vue'

    export default {
        components: {
            appTemplate,
            singleSearch,
            singleFaqGeneral,
            singleFaqFrontHome,
            singleFaqFrontDocument,
            singleFaqFrontTransmittal,
            singleFaqFrontReport,
            singleFaqBackHome,
            singleFaqBackMaindatabase,
            singleFaqBackTransmittal,
            singleFaqBackSystemreference,
        }
    }
</script>
<style scoped>
    h3 {
        margin-top: 1rem;
    }
</style>
