<template lang="pug">

        div(class="container")
            div(class="row")
                div(class="inline")
                    div(class="ui styled accordion")
                        div(class="content ")
                            div(class="accordion transition visible" style="display: block !important;")
                                div(class=" title")
                                    i(class="dropdown icon")
                                    p 9. CM: Update Revision By CM
                                div(class="content")
                                    video(class="video" controls="controls" preload='none' controlsList="nodownload" src="assets/images/video/BackOffice/9.Update Revision By CM.mp4" type="video/mp4")


</template>

<script>
    export default {

        mounted: function(){
            // eslint-disable-next-line
            $('.ui.accordion').accordion({
                exclusive: false,
            })
        },// end mounted
    } // end export default


</script>
<style scoped>

    .ui.header .sub.header {
        font-family: 'Lora', serif;
        font-weight: 400;
        font-style: italic;
    }

    /* Thai Language*/
    h2.thai.ui.header {
        font-family: 'Trirong', sans-serif;
    }
    h2.thai.ui.header .sub.header {
        font-family: 'Trirong', sans-serif;
        font-style: normal;
    }

    h3.ui.header {
        margin: 2% 0 0 0
    }

    .ui.styled.accordion {
        width: 100%;
    }

    .ui.styled.accordion .active.title {
        display: flex;
        color:black;
    }

    .title {
        display: flex;
    }


    video {
    width: 100%;
    height: auto;

    }


</style>