<template lang="pug">

    div(class="container")
        div(class="row")
            div(class="inline")
                div(class="ui styled accordion" style="width:100% ;")
                    div(class="title ")
                        //-หัวข้อที่ 3.1------------------------------------------------------------------------------------------------------------
                        i(class="dropdown icon")
                        p 3.1 HOME
                    div(class="content ")
                        div(class="accordion transition visible" style="display: block !important;")
                            //- 3.1 คำถามที่ 1
                            div(class="title")
                                i(class="dropdown icon")
                                p(style="font-style: Bold; font-size: 18px") กรอก username และ Password ไปแล้วทำไมยังเข้าระบบไม่ได้?
                            //- 3.1 คำตอบที่ 1
                            div(class="content")
                                p ในการเข้าระบบใช้งาน อันดับแรกต้องเช็คก่อนว่า ท่านมีสิทธิใช้งานในส่วนของ Back Office หรือ Front office เพราะในแต่ละผู้ใช้งานจะมีสิทธิการเข้าถึงแตกต่างกัน

                        div(class="accordion transition visible" style="display: block !important;")
                                //- 3.1 คำถามที่ 2
                                div(class="title")
                                    i(class="dropdown icon")
                                    p(style="font-style: Bold; font-size: 18px") ถ้าลองเช็คสิทธิการใช้งานแล้วว่าสามารถใช้งานได้ในส่วนของ Back office แต่ก็ยังเข้าระบบไม่ได้อีก?
                                //- 3.1 คำตอบที่ 2
                                div(class="content")
                                    p ในกรณีนี้ผู้ใช้งานต้องกด Link E-mail ในครั้งแรกที่ทาง IT ได้ให้ USER ไป ซึ่ง Link จะหมดอายุภายใน 24 ชม. ซึ่งจะต้องเข้าไปทำการเปลี่ยน Password เพื่อเข้าระบบอีกครั้ง

                        div(class="accordion transition visible" style="display: block !important;")
                                //- 3.1 คำถามที่ 3
                                div(class="title")
                                    i(class="dropdown icon")
                                    p(style="font-style: Bold; font-size: 18px") กรอก username และ Password ไปแล้วทำไมยังเข้าระบบไม่ได้?
                                //- 3.1 คำตอบที่ 3
                                div(class="content")
                                    p ในการเข้าระบบใช้งาน อันดับแรกต้องเช็คก่อนว่า ท่านมีสิทธิใช้งานในส่วนของ Back Office หรือ Front office เพราะในแต่ละผู้ใช้งานจะมีสิทธิการเข้าถึงแตกต่างกัน

                        div(class="accordion transition visible" style="display: block !important;")
                                //- 3.1 คำถามที่ 4
                                div(class="title")
                                    i(class="dropdown icon")
                                    p(style="font-style: Bold; font-size: 18px") ถ้าลองเช็คสิทธิการใช้งานแล้วว่าสามารถใช้งานได้ในส่วนของ Back office แต่ก็ยังเข้าระบบไม่ได้อีก?
                                //- 3.1 คำตอบที่ 4
                                div(class="content")
                                    p ในกรณีนี้ผู้ใช้งานต้องกด Link E-mail ในครั้งแรกที่ทาง IT ได้ให้ USER ไป ซึ่ง Link จะหมดอายุภายใน 24 ชม. ซึ่งจะต้องเข้าไปทำการเปลี่ยน Password เพื่อเข้าระบบอีกครั้ง




</template>
<script>
    export default {

        mounted: function(){
            // eslint-disable-next-line
            $('.ui.accordion').accordion({
                exclusive: false,
            })
        },// end mounted


    } // end export default
</script>
<style scoped>
    .ui.accordion .title {
        font-family: 'Lora', serif;
        font-size: 1.25rem;
    }
    .ui.accordion span {
        font-style: normal;
        color: rgba(0, 0, 0, 1);
        font-size: 1.1rem;
    }

</style>