<template lang="pug">
    div(class="ui stackable grid")
        div(class="row")
            div(class="four wide column")
                div(class="ui padded basic segment")
                    h4(class="ui header") Infographic
                    span description: display icon to describe a topic  


            div(class="twelve wide column")
                div(class="ui basic segment")
                    div(id="imgContainer" class="ui equal width stackable grid")
                        div(class="column")
                            div(class="ui basic segment")
                                img(class="" src="assets/images/icon/infographic01.svg")
                                h3(class="ui header") Annual Report
                                p This paragraph will describe what section is for, it might used as entrance or display information
                                span Read More
                        
                        div(class="column")
                            div(class="ui basic segment")
                                img(class="" src="assets/images/icon/infographic01.svg")
                                h3(class="ui header") Annual Report
                                p This paragraph will describe what section is for, it might used as entrance or display information
                                span Read More
                        
                        div(class="column")
                            div(class="ui basic segment")
                                img(class="" src="assets/images/icon/infographic01.svg")
                                h3(class="ui header") Annual Report
                                p This paragraph will describe what section is for, it might used as entrance or display information
                                span Read More

</template>
<script>
    export default {
        
    }
</script>
<style scoped>

    #imgContainer img {
        width: 28px;
    }
    #imgContainer h3 {
        color: #00274d;
        font-weight: 600;
        margin-top: 5%;
    }
    #imgContainer span {
        color: #a5805a;
    }


</style>